@model ParsaLibraryManagement.Web.ViewModels.Book.BookViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "List of books";
}

<main class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row card-title">
                            <h5 class="col-4">Classification of books</h5>
                            <a class="btn btn-primary col-3 offset-4 d-block" asp-action="Create" style="color:white">
                                <i class="ti-plus m-r-5"></i> Create a new Book
                            </a>
                        </div>

                        <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Page Count</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Status</th>
                                    <th class="text-left" scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                @{
                                    
                                    @foreach (var item  in Model.Books.Select((dto, i) => new {index = i,book= dto}).ToList())
                                    {
                                        <tr>
                                            <td>@item.index</td>
                                            <td>@item.book.Name</td>
                                            <td>@item.book.PageCount</td>
                                            <td>@item.book.Price</td>
                                            <td>@item.book.Status</td>
                                            <td class="text-left">
                                                <a asp-action="Edit" asp-route-bookId="@item.book.Id" class="btn btn-warning" style="color:white"> <i class="ti-pencil m-r-5"></i> Edit </a>
                                                <a asp-action="Delete" asp-route-bookId="@item.book.Id" class="btn btn-danger" style="color:white"> <i class="ti-pencil m-r-5"></i> Delete</a>
                                            </td>
                                        </tr>
                                        
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>